# 6.5 Set Up Google Maps and Places API

In [1]:
#Tienes que pedir la API de Google Maps
#ya que pusiste tu tarjeta y todo, pones en tu Anaconda PythonData prompt: conda install -c conda-forge gmaps


#These APIs help developers perform the following tasks:

#Convert latitudinal and longitudinal coordinates into locations on a map.
#Create a heatmap based on the density or weight of a feature, such as an earthquake.
#Identify the hotels or restaurants closest to a given location.
#Determine the distance between two points.

In [2]:
#Begin by importing our dependencies and Google API key, and then add our cities.csv file to a DataFrame. Create a new Jupyter Notebook file named VacationPy.ipynb. In the first cell, add our dependencies and API key.
# Import the dependencies.
import pandas as pd #We'll use Pandas to read our CSV file and create the locations and measurements from the DataFram
import gmaps #We'll use gmaps and the API key to create heatmaps and the locations map
import requests # we'll use the requests dependency to make a request to the Google Places JSON file
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2022-05-08 08:35:23,-24.7911,-50.0119,47.61,92,100,7.07
1,1,Lebu,CL,2022-05-08 08:35:24,-37.6167,-73.6500,52.97,94,26,3.78
2,2,Bluff,NZ,2022-05-08 08:35:24,-46.6000,168.3333,53.80,89,100,4.99
3,3,Dzilam Gonzalez,MX,2022-05-08 08:35:25,21.2833,-88.9333,77.25,84,0,6.40
4,4,Boa Vista,BR,2022-05-08 08:35:26,2.8197,-60.6733,75.18,88,75,4.61

In [4]:
#One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#First, tell gmaps to use your API key. You only need to configure gmaps to use your API key once.

#Add the following code to a new cell and run the cell.

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
#To remove the negative temperatures we can use a for loop to iterate through the max_temp and add the temperatures that are greater than 0 °F to a new list.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
#In the for loop, we're using the max() function to get the largest value between the temp and 0. If the temp is less than 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.

In [11]:
# create the heatmap for the maximum temperature.

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 °F, then you will get an InvalidWeightException error for this line of code:heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [12]:
# create the heatmap for the maximum temperature.

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# create the heatmap for the maximum temperature.

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#This map is too large. We will need to make some adjustments to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#EXTENDISTE LO VERDESITO PARA QUE ABARQUE MÁS ÁREA
# create the heatmap for the maximum temperature.

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
#We can add max_intensity to make each measurement have a better gradient variance.
#We can add point_radius to make each measurement radius larger.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Your code will tell them where to travel. It's beautiful, simple, and just needs a few more lines of code to actually work.
#For the app we are creating, we need to prompt the user to enter the minimum and maximum temperature ranges as floating-point decimal numbers to filter the city_data_df DataFrame.
#Recall that you use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal number, wrap the input() statement with the float() method, like this: float(input()).
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
#Next, filter the maximum temperature column in the city_data_df DataFrame using logical operators to create a new DataFrame with the cities that meet the customer's criteria.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Dzilam Gonzalez,MX,2022-05-08 08:35:25,21.2833,-88.9333,77.25,84,0,6.40
4,4,Boa Vista,BR,2022-05-08 08:35:26,2.8197,-60.6733,75.18,88,75,4.61
8,8,Souillac,MU,2022-05-08 08:35:28,-20.5167,57.5167,80.98,74,40,11.50
10,10,Rikitea,PF,2022-05-08 08:35:30,-23.1203,-134.9692,77.04,80,7,18.01
11,11,Colares,PT,2022-05-08 08:35:30,38.7992,-9.4469,77.45,47,0,10.00
15,15,Hithadhoo,MV,2022-05-08 08:35:33,-0.6000,73.0833,84.33,76,58,19.17
17,17,Dingle,PH,2022-05-08 08:35:33,10.9995,122.6711,86.45,66,60,10.04
21,21,Hilo,US,2022-05-08 08:35:35,19.7297,-155.0900,78.28,91,100,1.99
27,27,Marsh Harbour,BS,2022-05-08 08:35:38,26.5412,-77.0636,78.01,74,2,16.53
32,32,Leninskoye,KZ,2022-05-08 08:35:41,41.7589,69.3864,88.75,29,0,4.83

In [25]:
#Before moving on, determine if the preferred_cities_df DataFrame has any null values for any of the rows.
preferred_cities_df.count()

City_ID       166
City          166
Country       165
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [28]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Dzilam Gonzalez,MX,2022-05-08 08:35:25,21.2833,-88.9333,77.25,84,0,6.40
4,4,Boa Vista,BR,2022-05-08 08:35:26,2.8197,-60.6733,75.18,88,75,4.61
8,8,Souillac,MU,2022-05-08 08:35:28,-20.5167,57.5167,80.98,74,40,11.50
10,10,Rikitea,PF,2022-05-08 08:35:30,-23.1203,-134.9692,77.04,80,7,18.01
11,11,Colares,PT,2022-05-08 08:35:30,38.7992,-9.4469,77.45,47,0,10.00
...,...,...,...,...,...,...,...,...,...,...
538,538,Xichang,CN,2022-05-08 08:50:46,27.8964,102.2634,79.43,44,66,5.19
541,541,Quatre Cocos,MU,2022-05-08 08:50:47,-20.2078,57.7625,83.08,70,14,12.53
542,542,Cap Malheureux,MU,2022-05-08 08:50:47,-19.9842,57.6142,83.46,65,16,8.99
543,543,Pedernales,DO,2022-05-08 08:50:48,18.0384,-71.7440,76.01,76,7,3.02
544,544,Simao,CN,2022-05-08 08:50:48,22.7886,100.9748,78.24,60,98,4.45

In [29]:
preferred_cities_df.count()

City_ID       166
City          166
Country       165
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

# 6.5.4Map Vacation Criteria

In [30]:
#Using the coordinates from the preferred_cities_df DataFrame, find a hotel using our Google Places API and then retrieve that hotel information. Once we retrieve the hotel information, we'll need to store it so we can reference it and add the information to the pop-up marker.
#Make a copy of the preferred_cities_df DataFrame and name it hotel_df. For the hotel_df, keep the columns "City," "Country," "Max Temp," "Lat," and "Lng." Add a new column to the hotel_df DataFrame to hold the name of the hotel.
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3   Dzilam Gonzalez      MX     77.25  21.2833  -88.9333
4         Boa Vista      BR     75.18   2.8197  -60.6733
8          Souillac      MU     80.98 -20.5167   57.5167
10          Rikitea      PF     77.04 -23.1203 -134.9692
11          Colares      PT     77.45  38.7992   -9.4469
15        Hithadhoo      MV     84.33  -0.6000   73.0833
17           Dingle      PH     86.45  10.9995  122.6711
21             Hilo      US     78.28  19.7297 -155.0900
27    Marsh Harbour      BS     78.01  26.5412  -77.0636
32       Leninskoye      KZ     88.75  41.7589   69.3864

In [41]:
#Using the latitude and longitude and specific parameters, use the Google Places Nearby Search request to retrieve a hotel and add it to the Hotel Name column.
#Although very similar to our OpenWeatherMap API search, with the Google Places Nearby Search, we'll add a specified area and keyword to search.

#The documentation states we must provide specific parameters.
#Specific parameters include:

#1.Our API key
#2.A location, which will be the latitude and longitude
#3.A radius for the search. The radius can be up to 50,000 meters or approximately 31 miles. This distance is much too great for finding hotels, so we'll keep our search to 5,000 meters.
#4.If we use the rankby=distance for a parameter, we need to add one or more of the three parameters above. We won't use the rankby=distance because we will be searching based on the radius from a given latitude and longitude.



#For our hotel search, we'll use these parameters:

#1.API key
#2.Latitude and longitude
#3.5,000-meter radius
#4.Type of place


#On the webpage, Table 1 shows all the different Place types values. "Hotel" does not appear, but "lodging" does, so we will use the string "lodging" for the type parameter.
# Set parameters to search for a hotel.
params = {
    "radius": 15000,
    "type": "lodging",
    "key": g_key
}

In [42]:
#before iterating through the hotel_df DataFrame, we need to know what the JSON data looks like from a search.

In [43]:
#Next, add the coordinates for the location parameter for each city, which need to be pulled from the Lat and Lng columns of the hotel_df DataFrame. We'll need to iterate through the columns of the DataFrame and add the coordinates to the params dictionary before making the request and retrieving the JSON data.

In [44]:
#We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().

#In our VacationPy.ipynb file and below the params dictionary, add the following code.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [ ]:
#Recall that when trying to parse the data from an API request, we need to use a try-except block to handle the error with a statement and continue the retrieval.

In [45]:
#We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().

#In our VacationPy.ipynb file and below the params dictionary, add the following code.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
#let's create a heatmap using the maximum temperature from our hotel_df dataframe

In [46]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# the syntax is markers = gmaps.marker_layer(marker_locations), where the marker_locations are latitudes and longitudes.

#Let's add the markers for each city on top of the heatmap. 

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
#Now we can add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
#From the gmaps documentation on how to add markers (Links to an external site.), we need to add an info_box_template that has the following syntax.
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

This is a new code block, so let's review its form and function.

First, the info_box_template variable is assigned to a multiline string using three quotes. The text inside the multiline string is HTML code. HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). Angular brackets always come in pairs. The opening angular bracket is followed by some text inside, such as dl, dt, and dd. The closing angular bracket is preceded by a forward-slash ("/"). The text inside with the angular brackets is called a tag. We'll see more examples of HTML code in an upcoming module.

Here's what these tags mean:

The <dl> tag is a description list (dl).
The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
The <dd> tag is used to define the term or name or <dt> tag.
If we were to write out these tags on paper, it would look like this.

Description List: <dl>
Description Term: <dt>
Description Definition: <dd>
Description Term: <dt>
Description Definition: <dd>

In [52]:
#For our purposes, we'll add the hotel name, city name, country code, and the maximum temperature values from the hotel_df DataFrame as the description definition. Our code will look like the following.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [53]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

Let's review what we're doing with this code.

We set the hotel_info equal to the info_box_content.
In the list comprehension, info_box_template.format(**row) for index, row in hotel_df.iterrows(), we iterate through each "row" of the hotel_df DataFrame and then format the info_box_template with the data we set to populate the from each row. Remember, we are not using every row; we are only using the rows defined in the info_box_template, which are Hotel Name, City, Country, and Max Temp.
Next, in the code we used to create the heatmap with markers, add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations.

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))