## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configgg import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,44.26,65,75,4.61,broken clouds
1,1,Harper,LR,4.3750,-7.7169,78.44,85,100,1.28,light rain
2,2,Saint Anthony,US,45.0205,-93.2180,58.24,76,100,14.97,overcast clouds
3,3,Port Alfred,ZA,-33.5906,26.8910,61.25,81,99,9.24,overcast clouds
4,4,Pastavy,BY,55.1168,26.8326,34.52,64,3,9.26,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Harper,LR,4.3750,-7.7169,78.44,85,100,1.28,light rain
12,12,Muisne,EC,0.6000,-80.0333,77.27,87,98,9.55,overcast clouds
18,18,Hithadhoo,MV,-0.6000,73.0833,84.60,76,100,20.20,heavy intensity rain
21,21,Ouesso,CG,1.6136,16.0517,72.25,90,91,1.66,overcast clouds
24,24,Manadhoo,MV,5.7667,73.3833,84.74,72,96,19.82,overcast clouds
25,25,Mahebourg,MU,-20.4081,57.7000,72.25,94,40,1.14,scattered clouds
27,27,Barauna,BR,-5.0800,-37.6167,74.89,90,100,4.50,overcast clouds
34,34,Belmonte,BR,-15.8631,-38.8828,74.10,88,92,8.61,overcast clouds
35,35,Victoria,HK,22.2855,114.1577,78.24,82,100,4.00,overcast clouds
37,37,Vila Velha,BR,-20.3297,-40.2925,73.35,83,75,12.66,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Harper,LR,4.3750,-7.7169,78.44,85,100,1.28,light rain
12,12,Muisne,EC,0.6000,-80.0333,77.27,87,98,9.55,overcast clouds
18,18,Hithadhoo,MV,-0.6000,73.0833,84.60,76,100,20.20,heavy intensity rain
21,21,Ouesso,CG,1.6136,16.0517,72.25,90,91,1.66,overcast clouds
24,24,Manadhoo,MV,5.7667,73.3833,84.74,72,96,19.82,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Harper,LR,78.44,light rain,4.3750,-7.7169,
12,Muisne,EC,77.27,overcast clouds,0.6000,-80.0333,
18,Hithadhoo,MV,84.60,heavy intensity rain,-0.6000,73.0833,
21,Ouesso,CG,72.25,overcast clouds,1.6136,16.0517,
24,Manadhoo,MV,84.74,overcast clouds,5.7667,73.3833,
25,Mahebourg,MU,72.25,scattered clouds,-20.4081,57.7000,
27,Barauna,BR,74.89,overcast clouds,-5.0800,-37.6167,
34,Belmonte,BR,74.10,overcast clouds,-15.8631,-38.8828,
35,Victoria,HK,78.24,overcast clouds,22.2855,114.1577,
37,Vila Velha,BR,73.35,broken clouds,-20.3297,-40.2925,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Harper,LR,78.44,light rain,4.3750,-7.7169,Screensaver
12,Muisne,EC,77.27,overcast clouds,0.6000,-80.0333,Quinta Samay
18,Hithadhoo,MV,84.60,heavy intensity rain,-0.6000,73.0833,Scoop Guest House
21,Ouesso,CG,72.25,overcast clouds,1.6136,16.0517,ABENIE Hotel
24,Manadhoo,MV,84.74,overcast clouds,5.7667,73.3833,Bon Abri maldives
25,Mahebourg,MU,72.25,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
27,Barauna,BR,74.89,overcast clouds,-5.0800,-37.6167,Pousada Rancho do Sabiá
34,Belmonte,BR,74.10,overcast clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
35,Victoria,HK,78.24,overcast clouds,22.2855,114.1577,Mini Hotel Central
37,Vila Velha,BR,73.35,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv (esto es lo que sí lo convierte en CSV)
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
#From the gmaps documentation on how to add markers (Links to an external site.), we need to add an info_box_template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))